@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>

    EARGE - TEAM is a global developer community to complete project with self budget.<br /><br />

    To be a member, please post mail your CV to info@@earge.com
    <br />
    <br />

    EARGE
</p>
