@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TMS</h1>
    <p class="lead">
       TEAM MANAGEMENT SYSTEM - Ortak Paylaşımlı Proje / Ekip Yönetim Sistemi
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">DAHA FAZLA &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GÖREVLERİM</h2>
        <p>
          Devam eden görevlerinizi yönetin.  
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865"> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FİKİRLERİM</h2>
        <p>
            Proje fikirlerinizi paylaşın oylama yapın.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866"> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            FİKİRLERİ OYLA
        </h2>
        <p>
           Oylama yap ve hangi fikrin yatırım yapılacağında etkin ol.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867"> &raquo;</a></p>
    </div>
</div>